<!-- app/views/tasks/index.html.erb -->
<h1><%= @category.name %> Tasks</h1>

<%= form_with(model: [@category, @task], local: true) do |form| %>
  <%= form.text_field :name, placeholder: "New task name" %>
  <%= form.submit "Create Task" %>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.name %> (<%= task.status %>)
      <%= link_to "Edit", edit_category_task_path(@category, task) %>
      <%= link_to "Delete", category_task_path(@category, task), method: :delete, data: { confirm: "Are you sure?" } %>
      <%= button_to "Mark as complete", complete_task_path(task), method: :post unless task.status == 'complete' %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Categories", categories_path %>